 {% load static %}
<h2 style="color: #2196f3;margin-top: 2%; text-align: center;">About Us</h2>

<!-- contact -->
<section class="contact-w3pvt py-lg-5">
    <div class="container py-md-5">
        <div>

            <!-- <img src="{% static 'images/logo/prueleo_logo1.png' %}" class="img img-responsive" style="margin: auto;" align="center"><br> -->
        </div>
        <p>Medical Laboratories was established in October 1985. The laboratory became the first ISO 15189 Accredited private laboratory in Zimbabwe in July 2014. CIMAS acquired the assets and staff of the Medical Laboratories in October 1985 in order to
            ensure that private laboratory services would continue to be available for the medical profession and the public of Zimbabwe. The decision to take over the laboratories was made when the pathologists who owned the Laboratories decided to retire.
            In 1988 CIMAS also acquired the assets and staff of the Bulawayo Laboratory. These were combined as CIMAS Medical Laboratories and formed the basis of the Society's Medical Services Division.</p>
    </div>
    <!-- <a href="{% url 'users:contact' %}">Login</a> -->
    <a href="contact_template.html">Login Hey</a>
</section>
<!-- //contact -->